* {
  box-sizing: border-box;
}

body {
  background-color: #a164df;
  display: flex;
  font-family: sans-serif;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: purple;
  border-radius: 15px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  background-color: #28ca28;
}

.btn:focus {
  outline: none;
}
